
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.space-invader {
  box-shadow: 0 0 0 1em rgb(150, 179, 223),
  0 1em 0 1em rgb(150, 179, 223),
  -2.5em 1.5em 0 .5em rgb(150, 179, 223),
  2.5em 1.5em 0 .5em rgb(150, 179, 223),
  -3em -3em 0 0 rgb(150, 179, 223),
  3em -3em 0 0 rgb(150, 179, 223),
  -2em -2em 0 0 rgb(150, 179, 223),
  2em -2em 0 0 rgb(150, 179, 223),
  -3em -1em 0 0 rgb(150, 179, 223),
  -2em -1em 0 0 rgb(150, 179, 223),
  2em -1em 0 0 rgb(150, 179, 223),
  3em -1em 0 0 rgb(150, 179, 223),
  -4em 0 0 0 rgb(150, 179, 223),
  -3em 0 0 0 rgb(150, 179, 223),
  3em 0 0 0 rgb(150, 179, 223),
  4em 0 0 0 rgb(150, 179, 223),
  -5em 1em 0 0 rgb(150, 179, 223),
  -4em 1em 0 0 rgb(150, 179, 223),
  4em 1em 0 0 rgb(150, 179, 223),
  5em 1em 0 0 rgb(150, 179, 223),
  -5em 2em 0 0 rgb(150, 179, 223),
  5em 2em 0 0 rgb(150, 179, 223),
  -5em 3em 0 0 rgb(150, 179, 223),
  -3em 3em 0 0 rgb(150, 179, 223),
  3em 3em 0 0 rgb(150, 179, 223),
  5em 3em 0 0 rgb(150, 179, 223),
  -2em 4em 0 0 rgb(150, 179, 223),
  -1em 4em 0 0 rgb(150, 179, 223),
  1em 4em 0 0 rgb(150, 179, 223),
  2em 4em 0 0 rgb(150, 179, 223);
  background: rgb(150, 179, 223);
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
  z-index: -1;
  position: absolute;
  top: 14%;
  right: 50%;
}
.moon {
  width: 80px;
  height: 80px;
  z-index: -1;
  position: absolute;
  top: 40%;
  right: 31%;
  border-image: linear-gradient(0deg, rgb(251, 86, 86) 0%, rgb(255, 0, 0) 100%) 30;
  border-width: 12px;
  border-style: solid;

  transform: rotate(35deg);
}


.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 10px solid rgb(255, 0, 0); 
  background-color: transparent;
  
  z-index: -2;
  position: absolute;
  top: 49%;
  right: 66rem;
}

.semicircle {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 80%;
  right: 66rem;
  transform: rotate(35deg);
}
.semicircle1 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(196, 146, 222) 0%, rgb(122, 151, 255) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 84%;
  right: 41rem;
  transform: rotate(35deg);
}
.semicircle2 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(255, 91, 91) 0%, rgb(255, 0, 0) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 80%;
  right: 65rem;
  transform: rotate(35deg);
}

.delete:hover{
  color: rgb(255, 0, 0);
}
.back:hover{
  background-color: rgba(0, 0, 0, 0.507);
 
  color: white;
 
}



.popup {
  position: absolute;
  background-color: #7eaaff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.semicircle01 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 66rem;
  transform: rotate(35deg);
}
.semicircle02 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 80rem;
  transform: rotate(35deg);
}
.semicircle03 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(196, 146, 222) 0%, rgb(122, 151, 255) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 50rem;
  transform: rotate(35deg);
}
.semicircle04 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 5rem;
  transform: rotate(35deg);
}
.semicircle05 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 14rem;
  transform: rotate(35deg);
}
.semicircle06 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 38rem;
  transform: rotate(35deg);
}
.semicircle07 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(196, 146, 222) 0%, rgb(122, 151, 255) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 100%;
  right: 27rem;
  transform: rotate(35deg);
}

.semicircle08 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(196, 146, 222) 0%, rgb(122, 151, 255) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 80%;
  right: 4rem;
  transform: rotate(35deg);
}
.semicircle09 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 84%;
  right: 16rem;
  transform: rotate(35deg);
}
.semicircle10 {
  height: 40px;
  width:  80px;
  border-radius: 50% 50% 0% 0%;
  border: 10px solid ; 
  border-image: linear-gradient(0deg, rgb(34, 163, 195) 0%, rgb(45, 218, 253) 100%); 
  background-color: transparent;
  z-index: -2;
  position: absolute;
  top: 84%;
  right: 29rem;
  transform: rotate(35deg);
}
.posts1{
  display: grid;
  grid-template-columns: 345px 345px;
  gap: 30px;
 }
@media screen and (max-width: 992px) {
  .posts1{
    grid-template-columns: 345px 345px;
   }
}
@media screen and (max-width: 600px) {
 .posts1{
  grid-template-columns: 345px;
 }
}


.container {
  display: grid;
  gap: 0.5rem;
}

.paper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.avatar {
  margin: 8px;

}

.form {
  width: 100%;
  margin-top: 24px;
}

.submit {
  margin: 24px 0 16px;
}

.gridItem {
  margin: 8px;
}